<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rizkyghofur.aplikasipklsmkn1glagah">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".handler.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/login"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/login"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:screenOrientation="portrait"
            android:name=".Login" />

        <activity
            android:screenOrientation="portrait"
            android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".ketuakompetensi.MenuKaKomp" />

        <activity
            android:screenOrientation="portrait"
            android:name=".ketuakompetensi.JurnalPKLSiswa">
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".ketuakompetensi.KompetensiDasar">
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".ketuakompetensi.AbsensiPKLSiswa">
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".ketuakompetensi.CatatanKunjunganPKLKakomp">
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".ketuakompetensi.PengajuanPKLSiswa">
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".guru.MenuGuruPembimbing" />

        <activity
            android:screenOrientation="portrait"
            android:name=".guru.JurnalPKLSiswa">
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".guru.ProgramPKLSiswa">
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".guru.CatatanKunjunganPKL">
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".guru.AbsensiPKLSiswa">
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".guru.TambahCatatanKunjunganPKL">
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".guru.UbahCatatanKunjunganPKL">
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".siswa.MenuSiswa">
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".siswa.AbsensiPKL">
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".siswa.CatatanKunjunganPKLSiswa">
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".siswa.JurnalPKL">
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".siswa.TambahJurnalPKL">
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".siswa.UbahJurnalPKL">
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".siswa.ProgramPKL">
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".siswa.TambahProgramPKL">
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".siswa.UbahProgramPKL">
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".siswa.PermohonanPKL">
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".siswa.InfoDUDI">
        </activity>

    </application>

</manifest>